a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
  text-align: center;
  display: inline-block;

  background-image:url(/images/scream.jpg) ;
  background-repeat:no-repeat ;
  background-attachment:fixed ;
  background-size:100% 100%;
}
tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: blanchedalmond;
  border: none;
  border-radius: 8px;
  box-shadow: 0 9px #999;
}
.btn:active {
  background-color: blanchedalmond;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
  }